.page{
    width: 80%;
    margin: 0 auto;
}
.login {
    text-align: center;
    margin: 15% auto;
}
.login i {
    font-size: 64px;
}
.login .login-form {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin: auto;
    justify-content: space-evenly;
}
.login #login-error {
    font-size: small;
    color: var(--mdc-theme-error, #b00020);
    display: block;
    margin-bottom: 20px;
}
.login .inform {
    font-size: small;
    color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
}
.header .right{
    text-align: right;
    margin: auto 0;
}
.content .inner .caption {
    font-weight: 500 !important;
}


@media screen and (max-width:480px) {
    .page {
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width:839px) {
    .page .mdc-layout-grid__inner {
        grid-template-columns: auto;
    }
}