.page{
    width: 80%;
    margin: 0 auto;
}
.page.tabs .mdc-layout-grid {
    padding-bottom: 0 !important;
}
.login {
    text-align: center;
    margin: 15% auto;
}
.login i {
    font-size: 64px;
}
.login .login-form {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin: auto;
    justify-content: space-evenly;
}
.login #login-error {
    font-size: small;
    color: var(--mdc-theme-error, #b00020);
    display: block;
    margin-bottom: 20px;
}
.login .inform {
    font-size: small;
    color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
}
.header .title a{
    color: inherit;
    border-bottom: 2px solid #ccc;
    text-decoration: none;
}
.header .title a:hover{
    border-color: inherit;
}
.header .right{
    text-align: right;
    margin: auto 0;
}
.content .inner .card .gender {
    height: 36px;
    width: 36px;
    border: 1px solid rgba(0, 0, 0, 20%);
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: bottom;
}
.content .inner .card .title {
    display: block;
    margin-bottom: 24px;
}
.content .inner .card .caption {
    font-weight: 500 !important;
}
.content .inner .card i {
    color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
    vertical-align: bottom;
    margin-right: 2px;
    cursor: pointer;
}
.status--ok {
    color: var(--mdc-theme-secondary, #018786);
}

@media screen and (max-width:480px) {
    .page {
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width:839px) {
    .page .mdc-layout-grid__inner {
        grid-template-columns: auto;
    }
}